<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<p th:text="'Title: ' + ${book.getTitle()}"/>
<p th:text="'Id: ' + ${book.getId()}"/>
<p th:text="'Author and pusblishing_year: ' + ${book.getAuthor()} + ' ' + ${book.getPublication_year()}"/>
<p th:text="'Isbn: ' + ${book.getIsbn()}"/>

<p th:text="'This book has a person now - ' + ${person.getName()}"/>

<a th:href="@{/books/{id}/edit(id = ${book.getId()})}">Edit</a>


<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>